<main class="user-list p-3">
    <section class="d-flex gap-4 justify-content-between align-items-center mb-3">
        <h5 class="mb-0">Users</h5>
        <select class="form-select form-select-sm w-auto" name="gender" id="gender" [(ngModel)]="gender"
            (change)="getUsers()">
            <option selected value="">Filter by gender</option>
            <option value="female">female</option>
            <option value="male">male</option>
        </select>
    </section>
    <hr>

    <section class="row mt-5">

        <!-- data -->
        <ng-container *ngIf="!isLoading && !error; else loadingOrError">
            <ng-container *ngIf="users.length; else empty">
                <div class="col-lg-4 col-md-6 mb-2" *ngFor="let user of users">
                    <app-user-detail [user]="user"></app-user-detail>
                </div>
            </ng-container>
        </ng-container>

        <!-- loading and error -->
        <ng-template #loadingOrError>
            <app-loading *ngIf="isLoading" message="Loading users..."></app-loading>
            <app-error *ngIf="error" [message]="error" (retry)="getUsers()"></app-error>
        </ng-template>

        <!-- no data -->
        <ng-template #empty>
            <app-empty-state title="No users available"
                subTitle="There are currently no users available"></app-empty-state>
        </ng-template>

    </section>
</main>