<section class="container-fluid">

    <!-- main content -->
    <main class="p-4">
        <div class="card bg-white border-0 shadow-sm px-4 mb-4">
            <div class="container">
                <h1 class="display-4 mb-2">Welcome</h1>
                <p class="lead text-muted">Simple Home Page.</p>
            </div>
        </div>
        <section class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card p-4  shadow-sm border-left
       mb-4 border-0">
                    <a routerLink="/users" class="d-flex align-items-center text-decoration-none">
                        <span class="fas fa-user-friends h5"></span>
                        <h5 class="ms-2">Users</h5>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card p-4  shadow-sm border-left mb-4 border-0">
                    <a routerLink="/users" class="d-flex align-items-center text-decoration-none">
                        <i class="fas fa-user-friends h5"></i>
                        <h5 class="ms-2">Users</h5>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card p-4 rounded shadow-sm border-left mb-4 border-0">
                    <a routerLink="/users" class="d-flex align-items-center text-decoration-none">
                        <span class="fas fa-user-friends h5"></span>
                        <h5 class="ms-2">Users</h5>
                    </a>
                </div>
            </div>
        </section>
    </main>
</section>