 @import 'src/styles/_variables.scss';

 .card {
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .card-body {
        padding: 20px;
    }

    .user-picture img {
        position: absolute;
        top: -20%;
        right: 10%;
        border-radius: 100%;
        object-fit: contain;
        background: #f8f9fa;
        padding: 10px;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
    }

    .user-content .user-name {
        margin-right: 150px;
        color: $primary-color;
    }
}

.heading-border {
    position: absolute;
    width: 100%;
    top: 60%;
}


.list-group{
    .list-group-item {
        border: 0;
        padding: 8px 0;
    }
}