<div class="mb-4 pt-5 w-100" *ngIf="user">
    <div class="card shadow-sm border-0">
        <div class="card-body">
            <div class="user-picture">
                <img [src]="user.picture.large" height="130" width="130" />
            </div>
            <div class="user-content">
                <h5 class="text-capitalize user-name">{{ user.name.first + ' ' + user.name.last }}</h5>
                <p class=" text-capitalize text-muted small blockquote-footer">{{user.gender}}</p>
        
                <ul class="mt-5">
                    <li>{{user.email}}</li>
                    <li>{{user.phone}}</li>
                    <li>{{user.location.country}}</li>
                    <li>{{user.dob.age}} years</li>
                </ul>
            </div>
        </div>
    </div>
</div>