@import 'src/styles/_variables.scss';

section {
    .error {
        font-size: 150px;
        color: $primary-color;
        text-shadow:
            1px 1px 1px $accent-color,
            2px 2px 1px $accent-color,
            3px 3px 1px $accent-color,
            4px 4px 1px $accent-color,
            5px 5px 1px $accent-color,
            6px 6px 1px $accent-color,
            7px 7px 1px $accent-color,
            8px 8px 1px $accent-color,
            25px 25px 8px rgba(0, 0, 0, 0.2);
    }
    .error-text {
        margin: 2rem 0;
        font-size: 20px;
        font-weight: 600;
        color: $text-color;
    }
}